header {
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    box-shadow: 0 0 4px;
    display: grid;
    place-items: center;
    background-color: black;
}

header nav h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}